BlueConfig.bkpOrigin
steps_meshes/mc2c/mc2c.msh.bkp
Jean
.logs/
sim_conf/
mcomplex.dat
*.pyc
__pycache__/
output/
core.*
*.log
python-venv/
*.dat
x86_64/
bkp_x86_64/
metabolismndam/
.ipynb_checkpoints/
HBP_STEPS/
spackenv/
!.setup_*
.julia/
RESULTS/
bloodflow_src/
bluepy-configfile/
input_flow.pkl
ngv2.json
py-neurodamus/
mod/*
